<!DOCTYPE html>
<html lang="en">
  <head>
    <title>your page title goes here</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <header>
      <h1>
        <%= @category %>
      </h1>
    </header>
    <main>
      <% if @contacts.first[:name].nil? %>
        <p>You do not have any contacts in this category.</p>
      <% else %>
        <ul>
          <% @contacts.each do |contact| %>
            <% if contact[:id] %>
              <li><a href="/contacts/<%= contact[:id] %>"><%= contact[:name] %></a></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </main>
  </body>
</html>