<!DOCTYPE html>
<html lang="en">
  <head>
    <title>your page title goes here</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <header>
      <h1><%= @contact_info[:name] %></h1>
    </header>
    <main>
      <p>Phone Number: <%= @contact_info[:phone] %>
      <p>Email Address: <%= @contact_info[:email] %>
    </main>
  </body>
</html>